gradio
requests
Pillow
faster-whisper
mistralai
httpx
json5
tenacity
diffusers
safetensors
torch
accelerate
transformers
gunicorn
datasets
numpy
ctranslate2
google-auth-oauthlib==1.0.0
google-auth==2.29.0
