fastapi
uvicorn
gradio>=3.41.2
requests
google-auth-oauthlib
google-auth
itsdangerous
authlib
starlette
pydantic
python-multipart
Pillow
httpx==0.24.1
loguru
flask==3.0.0
flask-cors==4.0.0
flask-session==0.5.0
psycopg2-binary==2.9.10
tenacity 
